main {
    
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.logo-wrapper {
    width: 100%;
    background-color: #EC012A;
    height: 7rem;
}

.logo {
    margin-left: 5rem;
    margin-top: 1rem;

}

header {
    background-color: rgb(58, 55, 55);
    
}

.title {
    font-size: 7rem;
    text-align: center;
    color: white;
    padding: 7rem 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 55, 55);

}

#culture-dropdown-selector {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}

button {
    height: 3rem;
    width: 11.5rem;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2rem;
}

.gallery-wrapper {
    background-image: url(./Assets/TheMet.jpg);
    /* width: 100%; */
    height:30rem;
    object-fit: fill;
    background-repeat: no-repeat;
    /* opacity: 0.2; */
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 10rem;
    background-image: linear-gradient(to top,  rgb(58, 55, 55), white);
    margin: 1rem;
    object-fit: cover;
}

.image {
    border: 1px black solid;

}

.info {
    font-family: ;
    
}

.logo {
    height: 5rem;
    width: 5rem;
}