@use './partials/mixins' as *;

body {
    margin: 0;
}

.logo {
    &__wrapper {
        width: 100%;
        background-color: #EC012A;
        height: 3.5rem;
        @include tablet {
            height: 7rem;
          }   
    }
    &__image {
        margin-left: 2rem;
        margin-top: 0.75rem;
        width: 2rem;
        height: 2rem;
        @include tablet {
            width: 5rem;
            height: 5rem;
            margin-left: 4rem;
          }  
    }
}

 
.hero {
    position: relative;
    display: flex;
    flex-direction: column;

    @include tablet {
        justify-content: center;
    } 
      
    &__image {
        object-fit: cover;
        background-repeat: no-repeat;
        opacity: 0.2;
        height: calc(100vh - 3.5rem);

        @include tablet {
          height: calc(100vh - 7rem);
        }  
    }

    &__title {
      position: absolute;
      font-size: 4rem;
      color: rgb(58, 55, 55);
      padding-left: 2rem;
      padding-top: 3rem;
      @include tablet {
        font-size: 4rem;
        padding-left: 4rem;
        padding-bottom: 3rem;
      }   
      @include desktop {
        font-size: 8rem;
      }    
    }

    &__subtitle {
      position: absolute;
      font-size: 1rem;
      top: 45%;
      padding-left: 2rem;
      //font-style: italic;
      font-family: Helvetica, sans-serif;
      width: 80%;
      @include tablet {
        top: 60%;
        font-size: 1.5rem;
        padding-left: 4rem;
        font-weight: 500;
        line-height: 3rem;
      } 
      @include desktop {
        font-size: 2.5rem;
      }
    }
  }
   
main {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    // background-color: rgb(58, 55, 55);
  }
  
.selection {
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;
    @include tablet {
        padding: 4rem 2rem 3rem 2rem;
        flex-direction: row; 
        
    } 
    @include desktop {
        padding: 5rem;
    }
}

#department-select {
    padding-bottom: 1rem;
    width: 100%;
    
    @include tablet {
        padding-bottom: 0;
        margin-right: 1rem;
    } 
}

#department-dropdown-selector {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 3rem;
    border: 2px rgb(58, 55, 55) solid;
    padding: 0.75rem 3rem;
    width: 100%;

    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    @include tablet {
        font-size: 1rem;
    } 
    @include desktop {
        font-size: 1.5rem;
    }
}
  
button {
    //height: 1.25rem;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3rem;
    border: 2px rgb(58, 55, 55) solid;
    padding: 0.75rem 2rem;
    transition: 0.3s;
    font-size: 1rem;

    &:hover {
        background-color: rgb(58, 55, 55);
        color: white;
    }

    @include tablet {
        //height: 1.5rem;
        font-size: 1rem;
    } 
    @include desktop {
        //height: 2rem;
        //width: 11rem;
        font-size: 1.25rem;
    } 
}
 
#gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

.load-more {

    display: flex;
    justify-content: center;

    &__button {

        display: none;

        &--show {
          display: block;
          margin: 3rem 0rem;
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    //height: 10rem;
    width: 15rem;
    padding: 3rem;
    margin: 1rem;  
    object-fit: cover;

    &:hover {
      background-color: lightgray;
    }

    &__image {
      max-height: 15rem;
      object-fit: contain;
    }
    &__info {
      color: rgb(51, 51, 51);

      &-title {
        font-weight: 600;
      }

      &-link {
        text-decoration: none;
        color: inherit;
        font-style: italic;

        &-container {
          margin-top: 3rem;
        }
      }
    }
  }

.card-hidden {
    border: none;
    //height: 10rem;
}

.met-info {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(58, 55, 55);
    font-size: 0.5rem;
    line-height: 0.75rem;
    color: white;
    padding: 2rem;
    text-align: center;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1rem;
    } 
    @include desktop {
        font-size: 1rem;
        line-height: 2rem;
    }  
}
  
a {
    color: white;
}
  

